<h1>Carts#show</h1>

<div class="table-responsive">
  <table class="table">

  <thead>
    <tr>
      <th>NAME</th>
      <th>TOTAL</th>
      <th>STATU</th>
      <th>BORRAR</th>



     
      

    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.product.name %></td>
        <td><%= order.product.precio %></td>
        <td><%= order.cart.statu %></td>
        <td><button>BORRAR</button></td>

       


    <% end %>
  </tbody>

</table>

<h1>total <%=  @cart.total_amount%></h1>

</div>